{% extends "Layout/base.html" %}
{% block content %}
    {% load static %}
    <!--site header-->
    <header class="site-header common-static-header">
        <div data-stellar-background-ratio="0.25" style="background-image: url({% static 'images/head22.jpg' %}" class="parallax-bg"></div>
        <div class="container">
          <h1>Welcome To HEAL tech's</h1>
        </div>
      </header>
      <!--end site header-->

      <section class="no-padding">
        <div class="container-fluid remove-col-padding portfolio-index-1">
          <div class="row">
            <div class="col-lg-6">
              <div class="header-wrapper">
                <header class="section-header header-type-2 style-1">
                  <div class="container">
                    <h4 class="heading-hr-1">BRIGHT MINDS" TEAM</h4>
                    <q class="header-caption">As, every year Technovation offers girls around the world the opportunity to learn the skills they need to emerge as tech entrepreneurs and leaders, so our team was created. According to circumstances, girls identify a problem in their community, and then challenge them to solve it. Moreover, they work in teams to build both a mobile app and a business plan to launch that app, supported by mentors and guided by our curriculum.</q><br>
                    <p style="font-size:20px">We all gathered in one Bright minds team. Our mission is to make people’s life easier by implementing the new concept of the medical treatment. We strive to construct the visits to doctors more comfortable and pleasant.</p>
                  </div>
                </header>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="portfolio-item portfolio-item-2"><img src="{% static 'images/portfolio-600-6.jpg' %}" alt="LOVE MY LIFE">

              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="portfolio-item portfolio-item-2"><img src="{% static 'images/portfolio-600-7.jpg' %}" alt="LOVE MY LIFE">

              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="portfolio-item portfolio-item-2"><img src="{% static 'images/portfolio-600-8.jpg' %}" alt="LOVE MY LIFE">

              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="portfolio-item portfolio-item-2"><img src="{% static 'images/portfolio-600-10.jpg' %}" alt="LOVE MY LIFE">

              </div>
            </div>

            </div>
          </div>
        </div>
      </section>


      <footer class="footer-preset-04">
        <h1><a href="index.html">HEAL TECH SOFTWARE</a></h1>

        <p>© 2017-  Heal tech software, all rights reserved</p>
        <p>Contact Bright Minds Support</p>
      </footer>
{% endblock %}